<header>
  <h1>TECH CAMP 復習</h1>
</header>
<div class="menu">
  <%= link_to "Hair OLIVE", hair_index_path , class: "hair" %>
  <%= link_to "Modern view", modern_index_path , class: "hair" %>
  <%= link_to "Note",  notes_path , class: "hair" %>
</div>
