<header>
  <div class="heading">
  </div>

  <div class="navbar">
  </div>
</header>

<div class="contents clearfix">
  <div class="left-content">
  </div>

  <div class="right-content">
  </div>
</div>

<footer>
</footer>
