<div class="modern">
  <header>
    <h1><a href="#">Prot-type</a></h1>
    <nav>
      <ul class="header-links">
        <li class="header-link"><a href="#">About</a></li>
        <li class="header-link"><a href="#">Service</a></li>
        <li class="header-link"><a href="#">Contents</a></li>
      </ul>
    </nav>
  </header>
   <main>
    <section class="fv-section">
      <p class="main-copy">プロトタイピングをサービス改善のエンジンに</p>
      <p class="fv-text">ユーザーを「ファン」に変えるプロトタイピング推進ツール</p>
      <a href="#" class="cta-btn">使ってみる</a>
    </section>
  </main>
</div>